{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <title>

        </title>
    </head>
    <body>
        <div class="password-form-4">
            <h1 style="font-size: 25px;line-height: 200px;"></h1>>Reset your password</h1>
                {% if validlink %}
                <p>Please enter your new password twice:</p>
                <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Change my password" /></p>
                </form>
                {% else %}
                <p>The password reset link was invalid, possibly because it has
                already been used. Please request a new password reset.</p>
                {% endif %}
        </div>
    </body>
</html>