{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <title>
            password change
        </title>
    </head>
    <body>
        <div class="password-form-2" style="text-align: center; line-height: 40px;">
            <h2 style="font-size: 25px;line-height: 200px;">Wish to change your password?</h2>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="change password">
            </form>
        </div>
    </body>
</html>