{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <title></title>
    </head>
    <body>
        <div class="password-form-6">
            <p>Someone asked for a password reset for this email {{email}}. Follow the link below:
                {{ protocol }}://{{ domain }}{% url "password_reset_confirm"
                uidb64=uid token=token %}
                Your username, in case you've forgotten: {{ user.get_username }}
            </p>
        </div>
    </body>
</html>