{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href=" {% static 'styles/style.css' %}">
    <title>
        password change done
    </title>
</head>
<body>
    <div class="password-form-1">
        <div>
            <h4 style="font-size: 25px;line-height: 200px;"></h4>>Password changed</h4>
        </div>
        <div>
            <p>You have successfully changed your password.</p><b4>
            <p><a href="{% url 'login' %}">Login</a> with the new password.</p>
            </b4>
        </div>
    </div>
</body>